/* Font Import */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;0,800;1,300&display=swap");

/* General Styles */

:root {
	--dark-blue: #1f2937;
	--blue: #0b64f4;
}

html {
	scroll-behavior: smooth;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

/* Desktop Layout */

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	color: #fff;
}

.container {
	max-width: 75rem;
	margin: 0 auto;
	padding: 0 1rem;
}

.header {
	background-color: var(--dark-blue);
	padding: 1rem 0;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.logo {
	font-size: 24px;
	color: #f9faf8;
}

.nav-list {
	display: flex;
	flex-wrap: wrap;
	gap: 3rem;
	list-style: none;
}

.nav-list-item-link {
	color: #fff;
	text-decoration: none;
}

.nav-list-item-link:hover {
	border-bottom: 1px solid #fff;
}

main {
	flex: 1;
}

.hero {
	background-color: var(--dark-blue);
	color: #f9faf8;
}

.hero-section {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 8rem;
	height: 400px;
	padding: 20rem 0;
}

.hero-content,
.hero-image {
	flex: 1;
}

.hero-title {
	font-size: 3rem;
	font-weight: 800;
	margin-bottom: 2rem;
	line-height: 1.15;
}

.hero-description {
	font-size: 18px;
	color: #e5e7eb;
	margin-bottom: 2.5rem;
}

.btn {
	font-size: 1.25rem;
	font-weight: 700;
	text-decoration: none;
	background-color: var(--blue);
	color: #ffffff;
	padding: 0.5rem 2.5rem;
	border: 0.125rem solid #fff;
	border-radius: 0.5rem;
	cursor: pointer;
	transition: 0.35s;
}

.btn:hover {
	background-color: #fff;
	color: var(--blue);
	transform: translateY(-0.25rem);
}

.hero-btn {
	display: inline-block;
	padding: 0.8rem 2.5rem;
	border: none;
	border: 0.125rem solid var(--blue);
}

.hero-btn:hover {
	background-color: var(--dark-blue);
	color: #ffffff;
	border: 0.125rem solid #fff;
}

.hero-image {
	background-image: url(../images/hero-img.jpg);
	opacity: 0.7;
	background-repeat: no-repeat;
	background-size: cover;
	height: 291px;
	border-radius: 1rem;
}

.features {
	background-color: rgb(250, 250, 250);
	padding: 4rem 0 8rem;
}

.features-section {
	color: var(--dark-blue);
	text-align: center;
}

.features-title {
	font-size: 2.25rem;
	font-weight: 800;
	margin-bottom: 6rem;
}

.cards {
	display: flex;
	justify-content: center;
	gap: 3.5rem;
	flex-wrap: wrap;
}

.card {
	background-color: #fff;
	padding: 2rem;
	border-radius: 1rem;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
	transition: 0.35s;
}

.card:hover {
	box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 16px;
	transform: translateY(-0.25rem);
}

.card-img {
	display: block;
	margin: 0 auto 1rem;
	border-radius: 1rem;
}

.card-title {
	font-size: 1.25rem;
	margin-bottom: 0.5rem;
}

.card-description {
	line-height: 1.25;
	max-width: 17ch;
	margin: 0 auto;
}

#testimonials {
	background-color: #e5e7eb;
	color: var(--dark-blue);
	padding: 5rem 0 8rem;
}

.testimonials-title {
	font-size: 2.25rem;
	font-weight: 800;
	margin-bottom: 4rem;
}

.testimonials-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.testimonials-text {
	font-size: 2.25rem;
	font-weight: 300;
	font-style: italic;
	margin-bottom: 2rem;
}

.testimonials-cite {
	font-size: 1.5rem;
	font-weight: 800;
	margin-left: auto;
}

.cta {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(250, 250, 250);
	padding: 5rem 0 8rem;
}

.cta > .container {
	width: 100%;
}

.cta-title {
	font-size: 2.25rem;
	font-weight: 800;
	text-align: center;
	color: var(--dark-blue);
	margin-bottom: 6rem;
}

.cta-btn {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 2rem;
	flex-wrap: wrap;
	background-color: var(--blue);
	padding: 3rem 7rem;
	border-radius: 0.5rem;
}

.cta-btn-title {
	font-size: 1.5rem;
	font-weight: 600;
	margin-bottom: 0.75rem;
}

.cta-btn-description {
	width: 40ch;
	line-height: 1.35;
}

footer {
	font-size: 1.125rem;
	background-color: var(--dark-blue);
	text-align: center;
	padding: 2rem 0;
}
